:root {
  font-family: Inter, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  box-sizing: border-box;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #2B283A;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 100vh;
}

div#root {
  height: 100%;
  width: 100%;
  max-width: 320px;
  max-height: 320px;
}

main {
  background-color: #F5F5F5;
  border-radius: 10px;
  height: 100%;
  color: #4A4E74;
  display: flex;
  justify-content: top;
  align-items: center;
  flex-direction: column;
}

button {
  cursor: pointer;
  font-family: Inter;
}

.all-dice-container {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(5, 1fr);
  /* Creates 5 equal columns */
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  padding: 10px;
}


.all-dice-container button.held-die {
  background-color: #59E391;
}

.all-dice-container button {
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);
  width: 40px;
  height: 40px;
  gap: 10px;
  display: flex;
  border: none;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 3.813px;
  color: #2B283A;
  font-family: Inter;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 10px;
}


h2.game-title {
  display: flex;
  padding-bottom: 0;
  margin-bottom: 0;
  width: 197.12px;
  height: 31.36px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

p.game-description {
  text-align: center;
  font-family: Inter;
  font-size: 13.107px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.393px;
  padding: 10px;
  padding-top: 0;
}

button.roll {
  background-color: #5035FF;
  border-radius: 3.813px;
  color: #ffffff;
  border: none;
  padding: 6px 21px;
  white-space: nowrap;
  height: 35px;
  width: auto;
  font-size: 1.2rem;
}

button.roll:hover {
  background-color: #3621c2;
}